@charset "UTF-8";

.btn-sm{
	display: flex;
	align-content: center;
	justify-content: center;

}

.content-modal{
display: flex;
text-align: center;
justify-content: flex-start;
position: fixed;
}

.edit{
	background-image: url('../assets/img/delete.png');
}
#deconnexion{
	float: right;
}