@charset "UTF-8";

.btn-sm{
	display: flex;
	align-content: flex-start;
	justify-content: center;

}

.content-modal{
display: flex;
text-align: center;
justify-content: flex-start;
position: fixed;
}

#deconnexion{
	float: right;
}