@charset "UTF-8";

.btn-sm{
	display: flex;
	align-content: center;
	justify-content: center;

}

.modal-content, .modal-body,{
display: flex;
text-align: center;
justify-content: flex-start;
position: fixed;
}

